<template lang="pug">
  v-list
    v-form(ref="BookForm" v-model="validFormData")
      inputForm(v-for="input in inputs"
        :key="input.name"
        :model="input.model"
        :icon="input.icon"
        :name="input.name"
        :label="input.label"
        :counter="input.counter"
        :type="input.type"
        :rules="input.rules"
        :objKey="input.key"
        :typeCombo="input.typeCombo"
      )
      v-list-item
        v-list-item-content
          v-btn(block color="primary" @click="btnClick") Salva
</template>

<script>
import inputForm from "~/components/form/input/inputForm";
import autocompleteTitle from "~/components/form/input/autocompleteTitle";
export default {
  name: "formContainer",
  components: {
    inputForm, autocompleteTitle
  },
  props: {
  },
  data() {
    return {
      validFormData: false,
    }
  },
  computed: {
    inputs() {
      return [
        {
          key: 'isbn',
          icon: 'mdi-book',
          name: 'input-isbn',
          label: 'ISBN',
          counter: 13,
          type: 'Simple',
          rules: [
            v => ( (v || '').length <= 13) || "Max 13 char per il codice ISBN",
            v => ( (v || '').length >= 10 || (v || '').length === 0) || "Min 10 char per il codice ISBN",
          ]
        },
        {
          key: 'title',
          icon: 'mdi-format-title',
          name: 'input-title',
          label: 'Titolo',
          counter: 250,
          type: 'Simple',
          rules: [
            v => !!v || 'Il titolo non può essere lasciato vuoto',
            v =>  (v && v.length <= 250) || 'Massimo 250 caratteri',
          ]
        },
        {
          key: 'authors',
          icon: 'mdi-account-edit',
          name: 'input-authors',
          label: 'Author',
          type: 'Combo-multi',
          typeCombo: 'authors',
        },
        {
          key: 'editor',
          icon: 'mdi-store',
          name: 'input-editor',
          label: 'Editore',
          counter: 250,
          type: 'Combo-simple',
          typeCombo: 'publishers'
        },
        {
          key: 'category',
          icon: 'mdi-shape',
          name: 'input-category',
          label: 'Categoria',
          type: 'Combo-multi',
          typeCombo:'category'
        },
        {
          key: 'year',
          icon: 'mdi-calendar',
          name: 'input-releasedate',
          label: 'Anno di pubblicazione',
          counter: 4,
          type: 'Simple',
          rules: [
            v => ( new RegExp('^[0-9]+$').test(String(v)) ||  (v || '').length === 0) || 'Solo caratteri numerici',
            v => (
                (v <= new Date().getFullYear())
                ||  ((v || '').length === 0)
              )
              || 'Non sono accettati libri dal futuro',
          ]
        },
        {
          key: 'pages',
          icon: 'mdi-book-open-page-variant-outline',
          name: 'input-numberOfPages',
          label: 'Numero pagine',
          counter: 7,
          type: 'Simple',
          rules: [
            v => ( new RegExp('^[0-9]+$').test(String(v)) ||  (v || '').length === 0) || 'Solo caratteri numerici',
            v => ((v > 0)  ||  (v || '').length === 0)|| 'Minimo una pagina',
            v => ( (v < 9999999)  ||  (v || '').length === 0) || 'Un numero di pagine superiore a 10 millioni non è considerato valido',
          ]
        },
        {
          key: 'position',
          icon: 'mdi-library',
          name: 'input-position',
          label: 'Posizione',
          counter: 250,
          type: 'Combo-simple',
          typeCombo: 'positions',
        },
        {
          key: 'story',
          icon: 'mdi-library',
          name: 'input-plot',
          label: 'Trama',
          counter: 5000,
          type: 'textbox'
        },
      ]
    },
    formBookData() {
      return this.$store.state.store.bookData;
    }
  },
  methods: {
    validate () {
        return this.$refs.BookForm.validate();
    },
    reset () {
      this.$refs.BookForm.reset()
    },
    closeDialog() {
      this.reset();
      this.$emit('closeDialog')
    },
    btnClick() {
      this.$emit('saved');
    },
    getGoogleBook(type, data) {
      this.$axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=${type}:${data}`
        )
        .then(response => {
          console.log(response.data.items)
        })

    }
  },
  mounted() {
    console.log('i am mounted')
  }

}
</script>

<style scoped>

</style>
