<template lang="pug">
  .text-center
    v-dialog(v-model='modal' width='500')
      v-card
        v-card-title.text-h5.error.lighten-2
          | {{title}}
        v-card-text.pa-3
          |  {{content}}
        v-divider
        v-card-actions
          v-spacer
          v-btn(color='primary'  @click='modal = false')
            | Confermo
          v-btn(color='grey' text='' @click='modal = false')
            | Annulla

</template>

<script>

export default {
  name: "alert",
  props: {
    value: Boolean,
    title: String,
    content: String,
  },
  data() {
    return {

    }
  },
  computed: {
    modal: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
