<template>
  <v-data-table
    :headers="BookHeaders"
    :items="data"
    :search="search"
    sort-by="calories"
    class="elevation-4"
    dense
  >
    <template v-slot:top>
      <v-toolbar
        flat
        color="secondary"
        class="white--text"
      >
        <v-icon
          class="mr-2"
          dark
        >
          mdi-database-search
        </v-icon>
        <v-toolbar-title>Database</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-text-field
          label="Cerca libro"
          v-model="search"
          solo
          single-line
          hide-details
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </v-toolbar>
    </template>

    <template v-slot:item.authors="{ item }">
      <v-chip
        dark
        color="primary"
        class="mr-1"
        v-for="(author, i) in item.authors"
        :key="i"
      >
        {{ author.full_name}}
      </v-chip>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <div v-if="!error">
        Non c'è nessun dato disponibile
      </div>
      <div v-else class="ma-4 text-center">
        <v-icon color="red" x-large>
          mdi-alert-circle
        </v-icon>
        <h2 class="text-h5">
          La chiamata server è andata in errore. Impossibile ottenere i dati
        </h2>
        <v-btn large color="primary" class="mt-4" @click="retryClick">
          Riprovare?
        </v-btn>
      </div>
    </template>
  </v-data-table>
</template>



<script>
export default {
  name: "BookTable",
  props: {
    data: {
      type: Array,
    },
    error: Boolean,
  },
  data: () => ({
    dialog: false,
    dialogDelete: false,
    search: null,
    BookHeaders: [
      {
        text: 'id',
        value: 'bookId',
        //align: ' d-none',
        filterable: false,
      },
      {
        text:'Titolo',
        value: 'title',
        filterable: false,
      },
      {
        text: 'Autore',
        value: 'authors',
      },
      {
        text:'Editore',
        value: 'editor'
      },
      {
        text: 'genere',
        value: 'category'
      },
      {
        text: 'isbn',
        value: 'idIsbn',
        align: ' d-none'
      },
      {
        text:'anno',
        value: 'year'
      },
      {
        text:'pagine',
        value: 'pages'
      },
      {
        text:'Posizione',
        value: 'position'
      },
      {
        text: 'Operazioni',
        value: 'actions'
      }
    ],

    bookData: [

    ],
  }),

  computed: {

  },
  methods: {
    editItem (item) {
      this.$emit('tableEditItem', item);
    },

    deleteItem (item) {
      this.$emit('tableDeleteItem', item);
    },
    retryClick() {
      this.$emit('retry');
    }

  },
}
</script>
<style >
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  text-transform: capitalize;
}
</style>
