<template lang="pug">
  v-card(class="pa-2 d-flex flex-column" elevation="5")
    v-img(
      v-if="bookInfo.images"
      :src="bookInfo.images.thumbnail"
      lazy-src='loading.gif'
      aspect-ratio="2"
      contain
    )
    v-img(
      v-else
      src="NoCover.jpg"
      aspect-ratio="2"
      contain
      )
    v-card-title.truncate
      span {{bookInfo.title}}

    v-card-text
      v-row
        v-col
          span(v-if="!bookInfo.authors")
            span
              v-icon mdi-account-edit
              span Nessun autore da mostrare
          span(v-else)
              span.mr-2 Di
              em {{ bookInfo.authors.join(', ')}}
    v-card-actions(class="info")
      v-spacer
      v-menu(top v-if="hasExtraInfo")
        template(v-slot:activator="{ on, attrs }")
          v-btn(
             fab
             dark
             x-small
             color="primary"
              v-bind="attrs"
              v-on="on"
          )
            v-icon mdi-information-variant
        v-card(color="blue-grey " class="white--text" max-width="400")
          v-toolbar(color="primary")
            v-toolbar-title Informazioni
          v-card-text
            v-row
              v-col
                v-list-item(v-if='bookInfo.publisher')
                  v-list-item-content
                    v-list-item-title
                      span.font-weight-bold.mr-2
                        v-icon.mr-1 mdi-store
                        span Editore
                      span  {{bookInfo.publisher}}
                v-list-item(v-if='bookInfo.pages')
                  v-list-item-content
                    v-list-item-title
                      span.font-weight-bold.mr-2
                        v-icon.mr-1 mdi-book-open-page-variant-outline
                        span Pagine:
                      span {{bookInfo.pages}}

                v-list-item(v-if="bookInfo.year")
                  v-list-item-content
                    v-list-item-title
                      span.font-weight-bold.mr-2
                        v-icon.mr-1 mdi-calendar
                        span Anno
                      span  {{new Date(bookInfo.year).getFullYear()}}
                v-list-item(v-if="bookInfo.categories")
                  v-list-item-content
                    v-list-item-title
                      span.font-weight-bold.mr-2
                        v-icon.mr-1 mdi-shape
                        span Categorie
                      v-chip(
                        dark
                        color="secondary"
                        class="mr-1"
                        v-for="(category, i) in bookInfo.categories"
                        :key="i"
                      ) {{ category }}
                v-list-item(v-if="bookInfo.plot")
                  v-list-item-content
                    v-list-item-title.mb-2
                      span.font-weight-bold
                        v-icon.mr-1 mdi-shape
                        span Trama
                    div(v-html="bookInfo.plot")
      v-btn(
        fab
        dark
        x-small
        color="success"
      )
        v-icon mdi-plus
</template>

<script>

export default {
  name: "BookCard",
  props: {
    title : String,
    id: String,
    bookInfo:{
      type: Object,
      default: () => {
        return {
          title: null,
          isbn: null,
          authors: [],
          publisher: null,
          category: [],
          year: null,
          pages: null,
          plot: null,
        }
      }
    } ,
  },
  data() {
    return {
    }
  },
  computed: {
    hasExtraInfo() {
      const {publisher, categories, year, pages, plot} = this.bookInfo;
      if (publisher || categories || year || pages || plot) {
        return true;
      }
      return false;
    },
  },
  created() {
  },
  methods: {

  }
}
</script>

<style scoped>
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
