<template>
  <div class="book__container">
    <div class="cover">
      <div class="book">
        <label for="page-1"  class="book__page book__page--1 curl-top-left ">

          <h1 class="page__content-titleEnter pulse-grow text-gradient">
            <NuxtLink class='pulse-grow' to="/dashboard">
              Entra nell'app
            </NuxtLink>
          </h1>
        </label>

        <label for="page-2" class="book__page book__page--4">
          <div class="page__content">
            <h1 class="page__content-title">I</h1>
            <div class="page__content-blockquote">
              <p class="page__content-blockquote-text">Prima di pensare a cambiare il mondo, fare le rivoluzioni, meditarenuove costituzioni, stabilire un nuovo ordine, scendete prima di tutto nel vostro cuore, fatevi regnare l'ordine, l'armonia e la pace. Soltanto dopo, cercate delle anime che vi assomigliano e passate all'azione.</p>
              <p class="page__content-blockquote-text">. . . La conoscenza che viene acquisita con l'obbligo non fa presa nella mente. Quindi non usate l'obbligo, ma lasciate che la prima educazione sia una sorta di divertimento; questo vi metterà maggiormente in grado di trovare l'inclinazionenaturale del bambino.</p>
              <p class="page__content-blockquote-text">. . . Non muovere mai l'anima senza il corpo, né il corpo senza l'anima, affinché difendendosi l'uno con l'altra, queste due parti mantengano il loro equilibrio e la loro salute. </p>
              <span class="page__content-blockquote-reference">Citazioni varie di Platone</span>
            </div>
            <div class="page__content-text">
              <p>Ieri  scesi  al  Pireo  con  Glaucone,  figlio  di  Aristone,(1)  per  pregare  la  dea  e  nello  stesso  tempo  per  vedere  come
                avrebbero celebrato la festa,(2) dato che è la prima volta che la fanno. Mi sembrò davvero bella anche la processione della
                gente  del  posto,  ma  non  appariva  meno  decorosa  quella  condotta  dai  Traci.  Fatte  le  nostre  preghiere  e  contemplato  lo
                spettacolo, stavamo tornando in città quando Polemarco, figlio di Cefalo,(3) avendo visto da lontano che ci
                incamminavamo verso casa, mandò di corsa il suo giovane schiavo per invitarci ad aspettarlo. E il ragazzo, afferratomi da
                dietro per il mantello, mi disse: «Polemarco vi prega di aspettarlo».
                Io mi voltai e gli chiesi dove fosse.
               </p>
              <p>
                «Eccolo qui dietro che arriva», rispose. «Aspettatelo».
                «Certo che lo aspetteremo!», disse Glaucone.
                Poco  dopo  arrivarono  Polemarco,  Adimanto  fratello  di  Glaucone,  Nicerato  figlio  di  Nicia  (4)  e  altre  persone,  che
                probabilmente tornavano dalla festa.
                Allora Polemarco disse: «Mi sembra che voi, Socrate, vi siate mossi per fare ritorno in città».
                «Hai proprio ragione!», replicai.
                «Ma non vedi», disse, «quanti siamo?» «Come no?» «Allora», fece lui, «o siete più forti di costoro o rimanete qui».
                «Non  c'è  ancora  un'alternativa»,  obiettai,  «ovvero  se  riusciamo  a  persuadervi  che  conviene  lasciarci  andare?»
                ...
              </p>
            </div>
            <div class="page__number">3</div>
          </div>
        </label>

        <!-- Resets the page -->
        <input type="radio" name="page" id="page-1"/>

        <!-- Goes to the second page -->
        <input type="radio" name="page" id="page-2"/>
        <label class="book__page book__page--2">
          <div class="book__page-front">
            <div class="page__content">
              <h1 class="page__content-book-title">RivaLib</h1>
              <h2 class="page__content-author">Gestionale libreria domestica</h2>

              <p class="page__content-credits">
                Designed and developed by
                <span>Trevor Devalle </span>
              </p>

              <p class="page__content-credits">
                In collaboration with
                <span>Edgard Devalle</span>
              </p>

              <p class="page__content-credits">
                <!-- !TODO Try to understand why color red doesn't work here-->
                With <v-icon x-small class="red" style="color:red">mdi-heart</v-icon> for my
                <span>family</span>
              </p>

              <div class="page__content-copyright">
                <p>BOOK COVER COURTESY</p>
                <p> OF unsplash.com</p>
              </div>
            </div>
          </div>
          <div class="book__page-back">
            <div class="page__content">
              <h1 class="page__content-title">Features</h1>
              <table class="page__content-table">
                <tr>
                  <td align="left">Core I</td>
                  <td align="left">View books recorded</td>
                  <td align="right">3</td>
                </tr>
                <tr>
                  <td align="left">Core II</td>
                  <td align="left">Manage books data</td>
                  <td align="right">43</td>
                </tr>
                <tr>
                  <td align="left">Core III</td>
                  <td align="left">Google API Integration</td>
                  <td align="right">87</td>
                </tr>
                <tr>
                  <td align="left">EXTRA I</td>
                  <td align="left">Data Analysis</td>
                  <td align="right">147</td>
                </tr>
                <tr>
                  <td align="left">EXTRA II</td>
                  <td align="left">Data Visualization</td>
                  <td align="right">173</td>
                </tr>
              </table>

              <div class="page__number">2</div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "welcome",
  props: {

  },
  data() {
    return {

    }
  },
  computed: {
    cssVars() {
      return {
        '--page-bg':'#F5F5F5',
        '--dark-text':  '#2A2935',
        '--baseline': '12px'
      }
    }
  }
}
</script>

<style>
/*@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");*/
:root {

}

.book__container * {
  box-sizing: border-box;
}

.book__container {
  --body-bg:linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(176,191,207,1) 35%, rgba(70,70,70,1) 100%);
  --page-bg: #F5F5F5;
  --dark-text: #2A2935;
  --baseline: 12px;
  --book-title: "Tulpen One", sans-serif;
  --title: "Cormorant Garamond", serif;
  --body: "Cormorant Garamond", serif;
  --base-size: 12px * 1.2;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__content-titleEnter {
  color: #F5F5F5;
  text-align: center;
  font-family: var(--title);
  align-self: center;
  font-size: calc(var(--base-size) * 3);
}

.page__content-titleEnter > * {
  color: #F5F5F5;
  text-decoration: none;
}

.curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#ffffff", endColorstr="#000000");
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
  transition-property: width height;
}
.curl-top-left:hover:before {
  width: 25px;
  height: 25px;
}


/* Pulse Grow */
@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}
.pulse-grow {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.pulse-grow:hover {
  animation-name: pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text-gradient:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.book__container .cover {
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 42.6);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
}
.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0 0;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page:nth-of-type(1) {
  background-image: url("~/assets/library.jpg");
  background-size: cover;
}
.book__page--1 {
  cursor: pointer;
  overflow: hidden;
}
.book__page--1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.book__page--2 {
  position: absolute;
  right: 0;
  pointer-events: none;
  transform-style: preserve-3d;
  background-color: var(--page-bg);
  background-image: linear-gradient(90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}
.book__page--4 {
  cursor: pointer;
  padding: 0 calc(var(--baseline) * 2);
}
.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}
.book__page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--baseline) * 1.8);
  transform: rotateY(180deg) translateZ(1px);
}
.book__page .page__content {
  padding: var(--baseline);
  height: 100%;
  position: relative;
  text-align: center;
}
.book__page .page__content-book-title {
  font-family: var(--book-title);
  font-size: calc(var(--base-size) * 3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 2);
}
.book__page .page__content-author {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1.2);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 6);
}
.book__page .page__content-credits {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: calc(var(--base-size) * 0.8);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;
}
.book__page .page__content-credits span {
  display: block;
  font-size: calc(var(--base-size) * 1.2);
  letter-spacing: 0;
}
.book__page .page__content-copyright {
  position: absolute;
  width: calc(100% - (var(--baseline) * 2));
  bottom: calc(var(--baseline) * 2);
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-transform: uppercase;
}
.book__page .page__content-title {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: calc(var(--baseline) * 3);
  margin-bottom: calc(var(--baseline) * 3);
}
.book__page .page__content-table {
  width: 100%;
  margin-top: calc(var(--baseline) * 2);
}
.book__page .page__content-table td {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  padding-bottom: calc(var(--baseline) * 1.5);
  text-transform: uppercase;
}
.book__page .page__content-blockquote {
  margin-bottom: calc(var(--baseline) * 2);
}
.book__page .page__content-blockquote-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  font-style: italic;
  text-align: justify;
}
.book__page .page__content-blockquote-reference {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.7);
  margin-top: calc(var(--baseline) * 0.3);
  float: right;
  text-transform: uppercase;
}
.book__page .page__content-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: justify;
  text-indent: var(--baseline);
}
.book__page .page__number {
  position: absolute;
  bottom: var(--baseline);
  width: calc(100% - (var(--baseline) * 2));
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: center;
}
.book input[type=radio] {
  display: none;
}
.book input[type=radio]:checked + .book__page {
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
</style>
