<template>
  <v-container>
    <v-row>
      <v-col>
        <h1 class="text-h5">Benvenuto in riva Libreria</h1>
        <p>In questa pagina puoi gestire i dati dei tuoi libri</p>
      </v-col>
      <v-spacer/>
      <v-col class="d-flex align-content-end justify-end items-center">

      <p class="mr-2">Tema</p>

      <v-btn-toggle
        v-model="theme"
        class="transparent"
        mandatory
        @change="themeSwitcher"
      >
        <v-btn>
          <v-icon>mdi-weather-sunny</v-icon>
        </v-btn>

        <v-btn>
          <v-icon>mdi-weather-night</v-icon>
        </v-btn>
      </v-btn-toggle>
      </v-col>
    </v-row>
    <v-row>
      <v-col align="right">
        <v-btn color="primary" @click="showDialogAdd">
          <v-icon>
            mdi-plus
          </v-icon>
          Aggiungi un libro
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <BookTable
          :data="books"
          :error="dataError"
          v-on:retry="getBooksFromServer"
          v-on:tableEditItem="editItem"
          v-on:tableDeleteItem="deleteItem"
        ></BookTable>
      </v-col>
    </v-row>
    <rightDialog v-model="addBookDialog" :editing="editing" v-on:saved="addBookToTable"/>
    <v-dialog v-model="showConfirmationDialog" width="500">
      <v-card color="blue-grey darken-1">
        <v-toolbar color="error" >
          <v-toolbar-title>
            Sei sicuro?
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text class="mt-3">
          Vuoi davvero cancellare dal database {{dialogInfo.title}} di nanna?
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="">
            Conferma
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import BookTable from "~/components/BookTable";
import NewBookDialog from "~/components/dialogs/NewBookDialog";
import rightDialog from "~/components/dialogs/rightDialog";
export default {
  name: "index",
  components: {BookTable, NewBookDialog, rightDialog},
  data() {
    return {
      addBookDialog: false,
      dataError: false,
      books: [],
      theme: 1,
      showConfirmationDialog: false,
      dialogInfo: {
        title: '',
        authors: [],
      },
      editing: false,
    }
  },
  methods: {
    showDialogAdd(){
      this.addBookDialog = true;
      this.editing = false;
    },
    themeSwitcher(){
      this.$vuetify.theme.dark = this.theme;
    },
    closeAdder(e) {
      this.addBookDialog = false;
    },
    editItem(item) {
      this.addBookDialog = true;
      this.editing = true;
      const {
        bookId,
        category,
        editor,
        pages,
        position,
        authors,
      } = item;

      this.$store.commit('store/changeBookData', {key: 'id', value: item.bookId});
      this.$store.commit('store/changeBookData', {key: 'idIsbn', value: item.isbn});
      this.$store.commit('store/changeBookData', {key: 'title', value: item.title});
      //this.$store.commit('store/changeBookData', {key: 'category', value: item.category});
      this.$store.commit('store/changeBookData', {key: 'year', value: item.year});
      this.$store.commit('store/changeBookData', {key: 'pages', value: item.pages});
      this.$store.commit('store/changeBookData', {key: 'editor', value: item.editor});
      this.$store.commit('store/changeBookData', {key: 'authors',
        value: item.authors.map(a => {
          return a.full_name
        })
      });

      console.log({item});
    },
    deleteItem(item) {
      this.showConfirmationDialog = true;
      this.dialogInfo.title = item.title;
    },
    addBookToTable() {
     const newData = this.$store.state.store.bookData;
     const {
       isbn, title, authors,
       editor, category, year, pages, position
     } = newData;
     this.books.push({
        id: 0,
       title,
       authors,
       editor,
       category,
       year,
       isbn,
       pages,
       position,
     });
    },
    getBooksFromServer() {
      this.dataError = false;
      this.$axios.get('/API/book/read.php')
        .then(x =>{
          const bookData = x.data.data;
          this.books = bookData.map(el => {
            const {id, title, gender, isbn, year, editor,
              position, releasedate, page_number, authors} = el;

            return {
              bookId: id,
              title,
              category: gender,
              idIsbn: isbn,
              year: releasedate,
              editor,
              position,
              pages: page_number,
              authors,
            }
          });
        })
        .catch(err => {
          console.error(err);
          this.dataError = true;
        })
    }
  },
  mounted(){
    this.getBooksFromServer();
  }
}
</script>
