<template>
  <v-container>
    <v-row>
      <v-col>
        <h1 class="text-h4">Cerca con google</h1>
        <h2 class="text-h6">Cerca e inserisci i libri che ti interessano cercandoli su google con il titolo</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" sm="8" xs="12">
        <v-text-field
          v-model="search"
          :loading="loading"
          prepend-inner-icon="mdi-format-title"
          placeholder="Digita titolo per iniziare"
          solo
        />
      </v-col>
    </v-row>
    <v-row dense v-if="search && search.length > 0">
      <v-col>
        libri trovati: {{count}}
      </v-col>
    </v-row>
    <v-row v-if="loading">
      <v-col
        v-for="index in [1,2,3, 4]"
        :key="index"
        xs="12" sm="6" md="4" lg="3">
          <v-skeleton-loader
            class="mx-3"
            type="card-avatar, actions"
          ></v-skeleton-loader>
      </v-col>
    </v-row>
    <div class="renderBooksCard" v-else>
      <v-row
      >
        <v-col xs="12" sm="6" md="4" lg="3"
               v-for="(book, index) in bookCardData"
               :key="index"
               v-if="hasUsefulInfo(book)"
        >
          <BookCard
            :id="book.id"
            :book-info="book"
            class="bookCard"
          />
        </v-col>
      </v-row>
      <v-row v-if="count > 10">
        <v-col>
          <div class="text-center">
            <v-pagination
              v-model="pages"
              :length="NumberOfPage"
              circle
              :total-visible="7"
              @input="callGoogleBookAPI"
            ></v-pagination>
          </div>
        </v-col>
      </v-row>
    </div>


  </v-container>
</template>

<script>
import BookCard from "~/components/cards/BookCard";

export default {
  name: "authors",
  components: {
    BookCard,
  },
  data() {
    return {
      search: null,
      loading: false,
      autocomplete: null,
      bookFound: [],
      count: 0,
      pages: 1,
    }
  },
  computed: {
    fields () {
      if (!this.model) return []

      return Object.keys(this.model).map(key => {
        return {
          key,
          value: this.model[key] || 'n/a',
        }
      })
    },
    items() {
      const data = [];

      return this.bookFound.map(entry => {
        if (entry.volumeInfo) {
          const {title } = entry.volumeInfo;
          const Description = title.length > this.descriptionLimit
            ?  title.slice(0, this.descriptionLimit) + '...'
            : title;
          return Object.assign({}, entry, { Description })
        }
      })
    },
    bookCardData() {
      return this.bookFound.map(entry => {
        const year = (entry.volumeInfo.publishedDate)? new Date(entry.volumeInfo.publishedDate).getFullYear() : null;
        return {
          id: entry.id,
          title: entry.volumeInfo.title,
          authors: entry.volumeInfo.authors,
          images: entry.volumeInfo.imageLinks,

          publisher: entry.volumeInfo.publisher,
          pages: entry.volumeInfo.pageCount,
          categories: entry.volumeInfo.categories,
          plot: entry.volumeInfo.description,
          year,
        }
      })
    },
    NumberOfPage() {
      return Math.ceil(this.count / 10);

    }
  },
  methods: {
    hideMenu () {
      this.$refs.combobox.isMenuActive = false
    },
    callGoogleBookAPI() {
      this.loading = true;
      const index = (this.pages - 1) * 10;
      const url = `https://www.googleapis.com/books/v1/volumes?q=intitle:${this.search}&startIndex=${index}`;
      return this.$axios.get(url)
        .then(res => {
          const {items, totalItems} = res.data;
          this.count = totalItems? totalItems : 0;
          this.bookFound = items? items : [];
        })
      .catch(err => {
        console.error(err);
      })
      .finally(_ => {
        this.loading = false;
        window.scrollTo(0,0);
      })
    },
    hasUsefulInfo(bookData) {
      const {publisher, categories, year, pages, plot, title, authors} = bookData;
      if (publisher || categories || year || pages || plot || title || google) {
        return true;
      }
      return false;
    }
  },
  watch: {
    search(val) {
      if (!val){
        this.bookFound = [];
        this.count = 0;
        return;
      }
      this.loading = true;

      this.callGoogleBookAPI().then(_ => {
        this.pages = 1;
      })
    }
  },

}
</script>

<style scoped>
.bookCard {
  height: 100%;
}
</style>
