<template lang="pug">

</template>

<script>

export default {
  name: "login",
  layout: "welcome",
  props: {

  },
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
