<template>
  <div class="text-center">
    <v-dialog
      v-model="show"
      width="80%"
      @click:outside="closeDialog "
    >
      <v-card>
        <v-card-title class="text-h5 primary">
          <v-icon class="mr-2">
            mdi-book
          </v-icon>
          Aggiungi un nuovo testo
          <v-spacer />
          <v-icon @click="closeDialog">
            mdi-close
          </v-icon>
        </v-card-title>

        <v-card-text class="my-2">
          <v-container>
            <v-form
              ref="addBookForm"
              v-model="validFormData"
            >
            <v-row>
              <v-col cols="6">
                <v-text-field
                  name="input-isbn"
                  label="ISBN"
                  v-model="isbn"
                  :rules="formRules.isbnRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  name="input-title"
                  label="Titolo"
                  v-model="bookData.title"
                  :rules="formRules.titleRules"
                  :counter="250"
                  required
                ></v-text-field>
              </v-col>
              <v-col>
                <v-combobox
                  name="input-autor"
                  label="Autore"
                  hide-selected
                  multiple
                  small-chips
                ></v-combobox>
              </v-col>
              <v-col>
                <v-combobox
                  name="input-editor"
                  label="Editore"
                ></v-combobox>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-combobox
                  name="input-category"
                  label="Genere"
                ></v-combobox>
              </v-col>
              <v-col>
                <v-text-field
                label="anno"
                :counter="4"
                :rules="formRules.yearRules"
                />
              </v-col>
              <v-col>
                <v-text-field
                  name="input-pages"
                  label="Pagine"
                  :counter="6"
                  :rules="formRules.pagesRules"
                />
              </v-col>
              <v-col>
                <v-combobox
                  name="input-position"
                  label="Posizione"
                ></v-combobox>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-textarea
                  name="input-story"
                  label="Trama"
                  hint="Hint text"
                ></v-textarea>
              </v-col>
            </v-row>
            </v-form>
          </v-container>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="error"
            class="mr-4"
            text
            @click="reset"
          >
            Reset
          </v-btn>
          <v-btn
            color="success"
            class="mr-4"
            text
            @click="validate"
          >
            Salva
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  name: "NewBookDialog",
  props: {
    show: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      dialog: true,
      validFormData: false,
      isbn: null,

      bookData: {
        title: '',
        authors:[],
        editor: '',
        category: [],
        year: null,
        pages: null,
        position: null,
        story: null,
      },
      formRules: {
        titleRules: [
          v => !!v || 'Il titolo è obbligatorio',
          v => (v && v.length <= 250) || 'Max 250 caratteri per il titolo',
        ],
        isbnRules: [
          v => {
            if  (!v) return true;
            const len = v.length;
            if (len !== 10 || len !== 13) return "Il codice ISBN dev'essere o 10 o 13 caratteri"
          }
        ],
        pagesRules: [
          v => {
            if  (!v) return true;
            else if (!/^\d+$/.test(v)) return  "Usa solo carrateri numerici"
            else if (parseInt(v) > 999999) return 'Un libro non può avere più di 999.999 pagine'
            else return true;
          }
        ],
        yearRules: [
          v => {
            if  (!v) return true;
            else if (!/^\d+$/.test(v)) return  "Usa solo carrateri numerici";
            else if (parseInt(v,10) < 0) return 'Solo numeri positivi';
            else if (parseInt(v,10) > new Date().getFullYear()) return  'Nessun libro magico pubblicato nel futuro';
            else return true;
          },
        ]
      },
    }
  },
  methods: {
    validate () {
      console.log(
        this.$refs.addBookForm.validate()
      )
      ;
    },
    reset () {
      this.$refs.addBookForm.reset()
    },
    closeDialog() {
      this.reset();
      this.$emit('closeDialog')
    }
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
