<template>
  <v-navigation-drawer
    id="rightDialog"
    app
    right
    fixed
    temporary
    v-model="drawer"
    :width="width"
    @transitionend="transition"
    ref="toolbarChat"
  >
    <v-toolbar color="secondary">
      <v-toolbar-title>
        {{title}}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="error"
            @click="toolbarIconClicked"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon v-if="!editing">mdi-broom</v-icon>
            <v-icon v-else>mdi-delete</v-icon>
          </v-btn>
        </template>
        <span>{{!editing? 'Pulisci Form' : 'Elimina Libro'}}</span>
      </v-tooltip>
    </v-toolbar>
    <v-snackbar
      v-model="snackbar"
      :color="snackColor"
      top
      right
    >
     {{snackText}}
    </v-snackbar>
    <formContainer
      ref="form"
      v-on:saved="saveOnDb"
    />
    <LazyAlert v-model="dialog" :title="dialogTitle" :content="dialogContent"/>

  </v-navigation-drawer>
</template>

<script>
import formContainer from "~/components/form/formContainer";

export default {
  name: "rightDialog",
  components: {
    formContainer,
  },
  props: {
    value: Boolean,
    editing: Boolean,
  },
  data() {
    return {
      width: 500,
      snackbar: false,
      snackText: '',
      snackColor: 'success',
      dialog: false,
      dialogTitle: "Operazione Permanente",
      dialogContent: "Sei sicuro di voler eliminare questo libro dal database?"
    }
  },
  computed: {
    bookData() {
      return this.$store.state.store.bookData;
    },
    drawer:{
      get(){
        return this.value;
      },
      set(value) {
        this.$emit('input', value)
      }
    },
    title() {
      return this.editing? "Modifica Libro" : "Aggiungi Libro";
    }
  },
  methods: {
    validate () {
      console.log(
        this.$refs.addBookForm.validate()
      )
      ;
    },
    reset () {
      this.$refs.addBookForm.reset()
    },
    toolbarIconClicked(){
      if (this.editing) {
        this.dialog = true;
      } else {
        this.$refs.form.reset();
      }
    },
    saveToServer() {
      return this.$axios.get(``)
    },
    saveOnDb() {
      if(this.$refs.form.validate()) {
        this.snackText = "Salvato";
        this.snackColor = "success";
        setTimeout(() => {
          this.drawer = false;
          this.snackbar = false;
          this.$emit('saved')

        }, 1000);
      } else {
        this.snackText = "Uno o più campi non validi. Controlla i dati e riprova";
        this.snackColor = "error";
      }
      this.snackbar = true;
    },
    transition() {
      if (this.value) {
        this.$refs.toolbarChat.scrollTop = 0;;
       if(!this.editing) {
         this.$refs.form.reset();
       }
      }
    }
  },
  watch : {
    // Reset to topView when opened
    // https://github.com/vuetifyjs/vuetify/issues/8104
    'value' : function(new_val) {
      if (new_val) {
        this.$el.querySelector(".v-navigation-drawer__content").scrollTop = 0;
      }
    }
  }
}
</script>

<style scoped>

</style>
