<template lang="pug">
  v-combobox(
    v-model="model"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    color="white"
    hide-no-data
    hide-selected
    item-text="Description"
    item-value="API"
    label="Titolo"
    placeholder="Digita per iniziare la ricerca"
    prepend-inner-icon="mdi-format-title"
    return-object
  )
</template>

<script>

export default {
  name: "autocompleteTitle",
  props: {

  },
  data() {
    return {
      descriptionLimit: 60,
      entries: [],
      isLoading: false,
      model: null,
      search: null,
    }
  },
  computed: {
    fields () {
      if (!this.model) return []

      return Object.keys(this.model).map(key => {
        return {
          key,
          value: this.model[key] || 'n/a',
        }
      })
    },
    items () {
      const data = [];
      return this.entries.map(entry => {
        if (entry.volumeInfo) {
          const {title } = entry.volumeInfo;
          const Description = title.length > this.descriptionLimit
            ?  title.slice(0, this.descriptionLimit) + '...'
            : title;
          return Object.assign({}, entry, { Description })
        }
      })
    },
  },
  watch: {
    search (val) {
      if (!val) return;
      if (val.length > 0) this.$emit('titleTyped')
      this.isLoading = true

      // Lazily load input items
      fetch(`https://www.googleapis.com/books/v1/volumes?q=intitle:${val}`)
        .then(res => res.json())
        .then(res => {
          const { totalItems, items } = res
          this.count = totalItems
          this.entries = items? items : [];
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => (this.isLoading = false))
    },
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
