<template lang="pug">
  v-combobox(
    v-model="model"
    :items="entries"
    :loading="loading"
    :search-input.sync="search"
    color="white"
    item-text="name"
    :label="label"
    placeholder="Digitia per cercare..."
    :prepend-inner-icon="icon"
    return-object
    @input="inputFunc"
    :multiple="multiple"
    :small-chips="multiple"
  )
</template>

<script>

export default {
  name: "Combo",
  props: {
    type: String,
    icon: String,
    label: String,
    inputFunc: Function,
    multiple: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      entries: [],
      loading: false,
      model: null,
      search: null,
    }
  },
  computed: {
  },
  watch: {
    search (val) {
      console.log(this.type);
      this.loading = true;
      this.$axios.post('/API/book/getAttribute.php', {
        inName: val,
        type: this.type
      })
        .then(res => {
          console.log(res.data);
          const { data } = res;
          console.log(data);
          this.entries = data.data;
        })
        .catch(err => {console.error(err);})
        .finally(_ => {this.loading = false});

    }
  }
}
</script>

<style scoped>

</style>
