<template lang="pug">
  transition(name="fade")
    v-list-item
      v-list-item-content
        v-text-field(
          v-if="type === 'Simple'"
          :prepend-inner-icon='icon'
          :name="name"
          :label="label"
          :counter="counter"
          :rules="rules"
          :value="inputInfo"
          @input="mutateInputState"
        )
        Combo(
          v-if="type === 'Combo-multi'"
          :icon="icon"
          :name="name"
          :label="label"
          :multiple="true"
          :value="inputInfo"
          :inputFunc="mutateInputState"
          :type="typeCombo"
        )
        Combo(
          v-if="type === 'Combo-simple'"
          :icon="icon"
          :label="label"
          :value="inputInfo"
          :inputFunc="mutateInputState"
          :type="typeCombo"
        )
        v-menu(
          v-if="type === 'Calendar'"
          v-model="calendarMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
          :value="inputInfo"
          @input="mutateInputState"
        )
          template(v-slot:activator="{ on, attrs }")
            v-text-field(
              v-model="calendar"
              :label="label"
              prepend-inner-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
              :value="inputInfo"
              @input="mutateInputState"
            )
          v-date-picker(v-model="calendar" :show-current="false" @input="calendarMenu = false")
        v-textarea(
          v-if="type === 'textbox'"
          class="pt-0"
          :prepend-inner-icon="icon"
          :name="name"
          :label="label"
          :counter="counter"
          :value="inputInfo"
          @input="mutateInputState"
        )
</template>

<script>
import Combo from "~/components/form/input/Combo";

export default {
  name: "inputForm",
  components: {Combo},
  props: {
    icon : String,
    name: String,
    label: String,
    counter: [Number, Boolean],
    type: String,
    rules: Array,
    model: String,
    objKey: String,
    typeCombo: String,
  },
  data() {
    return {
      calendar: null,
      calendarMenu: false,
    }
  },
  methods: {
    mutateInputState(e){
      const info = {
        key: this.objKey,
        value: e,
      };

      this.$store.commit('store/changeBookData', info)
    }
  },
  computed: {
    inputValue: {
      get() {return this.model},
      set(value) {return this.$emit('input', value)}
    },
   inputInfo() {
      return this.$store.state.store.bookData[this.objKey];
   }
  }
}
</script>

<style >
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
